/*Start Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
/*End Font*/

/*Start Body*/
body {
    background-color: yellow;
    background-image: url('../images/background.jpg');
    color:whitesmoke;
}
/*End Body*/
h1 {
    color: whitesmoke;
    font-family:  Roboto, Helvetica, sans-serif;
    padding: 20px;
    margin: 100px auto 100px auto;
    width: 300px;
}
/* Start Debug */
.bg-red {
    background-color: azure;
}
.bg-brown {
    background-color: bisque;
}
/*End Debug*/

/*Start Container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/*End Container*/

/*Start Logo*/
.logo {
    text-align: center;
}
/*End Logo*/

/*Start Menu Primer*/
.menu-primer ul {
    background-color: blanchedalmond;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0px rgba(0,0,0,.14),
        0 1px 18px 0px rgba(0,0,0,.12);
}
.menu-primer li {
    border-right: 1px saddlebrown;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: brown;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding : 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: #f7f7f7;
    color: #333;
    text-decoration: none;
}

.menu-primer.active {
    background-color: beige;
    color: black;
    text-decoration: none;
}

/*End Menu Primer*/

/*Start Heading*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px
}
h2 {
    font-size: 24px
}
h3 {
    font-size: 18px
}
h4 {
    font-size: 16px
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 13px
}
/*End Heading*/

/*Start Jumbotron*/
.jumbotron {
    position: relative;
    background-color: burlywood;
    border: 10px solid, black;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.jumbotron h1 {
    font-size: 20px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/*End Jumbotron*/

/*Start Anchor / Hyperlink*/
a:link,
a:visited {
    color: black;
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: underline;

}
/*End Anchor / Hyperlink*/

/* Start Main*/
.main-home-one {
  float: left;
  width: 50%
}

.main-home-two {
  float: right;
  width: 50%
}
/* End Main*/

/*Start Box*/
.box-heading {
  background-color: yellow;
  border: 1px solid white;
  border-radius: 3px 3px 0 0;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase
}
.box-heading h4 {
  font-size: 14px;
  margin: 0;
}
/*End Box*/

/* Start JS */
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
.snip1410 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 30.5%;
  max-width: 30.5%;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #ffffff;
  line-height: 1.4em;
  transform: translateZ(0);
  display: inline-block;
}
.snip1410 *,
.snip1410 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
.snip1410 img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.snip1410:before {
  background: #000000;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  z-index: 1;
  bottom: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 40px white;
}
.snip1410 figcaption {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
}
.snip1410 h2,
.snip1410 p {
  margin: 0;
  width: 100%;
  opacity: 0;
  padding: 25px;
}
.snip1410 h2 {
  font-family: 'Julius Sans One', Arial, sans-serif;
}
.snip1410 p {
  position: absolute;
  bottom: 0;
  padding-left: 60px;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-align: right;
}
.snip1410 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
.snip1410:hover img,
.snip1410.hover img {
  opacity: 0.2;
}
.snip1410:hover:before,
.snip1410.hover:before {
  bottom: 0;
  box-shadow: 0 0 0px white;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1410:hover figcaption h2,
.snip1410.hover figcaption h2,
.snip1410:hover figcaption p,
.snip1410.hover figcaption p {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1410:hover figcaption h2,
.snip1410.hover figcaption h2 {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0.5;
}
.snip1410:hover figcaption p,
.snip1410.hover figcaption p {
  opacity: 0.7;
}
/*End JS*/
